appdirs==1.4.4
appnope==0.1.2
art==5.2
asgiref==3.4.1
astroid==2.6.5
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
cycler==0.10.0
debugpy==1.4.1
decorator==5.0.9
distlib==0.3.2
dj-database-url==0.5.0
Django==3.2.6
django-heroku==0.3.1
filelock==3.0.12
googletrans==3.0.0
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.7.5
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==6.0.3
ipython==7.26.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libretranslatepy==2.1.1
lxml==4.6.3
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
numpy==1.21.1
pandas==1.3.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
prompt-toolkit==3.0.19
psycopg2==2.9.1
ptyprocess==0.7.0
Pygments==2.9.0
pylint==2.9.5
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.1.0
requests==2.25.1
rfc3986==1.5.0
selenium==3.141.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
translate==3.6.1
urllib3==1.26.6
uWSGI==2.0.19.1
virtualenv==20.4.7
wcwidth==0.2.5
whitenoise==5.3.0
wrapt==1.12.1
